{{#if showData}}
   {{#each showData}}
      <li>
         <a href="http://www.bobo.com/{{this.roomId}}?m=2345kt01" target="_blank">
            <img src="{{this.imageUrl}}">
            <em></em>
            <span>{{this.anchorNick}}</span>
         </a>
      </li>
   {{/each}}
{{/if}}

