{{#if imageWall}}
<a class="imagewall" href="http://www.bobo.com/{{imageWall.roomId}}?m=2345kt01" target="_blank">
   <img src="{{imageWall.imageUrl}}">
   <span>{{imageWall.title}}</span>
</a>
{{/if}}