{{#if extendTitles}}
   {{#each extendTitles}}
      <li><span class="dot">.</span><a href="http://www.bobo.com/{{this.roomId}}?m=2345kt01" target="_blank" title="{{this.extendTitle}}">{{this.extendTitle}}</a></li>
   {{/each}}
{{/if}}